@model Player

<h1>Player Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">Club</dt>
        <dd class = "col-sm-10">
            <img src="@Model.Team?.Logo" height="150" />
        </dd>
        
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">Number</dt>
        <dd class="col-sm-10">@Model.Number</dd>

        <dt class="col-sm-2">Goals</dt>
        <dd class="col-sm-10">@Model.Goals</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>

