@model List<Player>

<h1>Players Admin Page</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Player</a>
</p>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Club</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Number</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Goals</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var i in Model)
    {
        <tr class="align-middle">
            <th scope="row" style="width: 1%">@i.Id</th>
            <td class="text-center" style="width: 1%">
                <img height="40" src="@i.Team?.Logo" alt="@i.Team?.Name" />
            </td>
            <td>@i.FirstName</td>
            <td>@i.LastName</td>
            <td>
                <span class="badge bg-primary">@i.Number</span>
            </td>
            <td>@i.Birthdate.ToShortDateString()</td>
            <td>@i.Goals</td>
            <td>
                <div class="btn-group" role="group">
                    <a asp-action="Details" asp-route-id="@i.Id" class="btn btn-outline-secondary">
                        <i class="bi bi-info-square-fill"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@i.Id" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    @* asp-action="Delete" asp-route-id="@i.Id" *@
                    <a  
                        class="btn btn-outline-danger" 
                        data-bs-toggle="modal" 
                        data-bs-target="#deleteModal"
                        data-bs-id="@i.Id"
                        data-bs-surname="@i.LastName"
                        >
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<!-- Vertically centered modal -->
<div class="modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Player</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <span class="surname"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a asp-action="Delete" class="btn btn-danger" id="deleteBtn">Yes</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var modal = document.getElementById('deleteModal')
        var deleteBtn = document.getElementById('deleteBtn')
        
        modal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var surname = button.getAttribute('data-bs-surname')
            
            // Update the modal's content.
            var textSurname = modal.querySelector('.modal-body .surname')
            textSurname.textContent = surname
            
            // --- id
            var id = button.getAttribute('data-bs-id')
            var deleteBtn = modal.querySelector('.modal #deleteBtn')
            deleteBtn.setAttribute('href', "/players/delete/" + id)
        })
        
    </script>
}
