@model List<Team>

<div class="card text-center">
    <div class="card-header">
        Favourites
    </div>
    <div class="card-body">
        <h5 class="card-title">Football Club List</h5>

        <ul class="list-group">
            @foreach (var i in Model)
            {
                <li class="list-group-item d-flex align-items-center">
                    <img height="50" src="@i.Logo" alt="@i.Name"/>
                    <span class="ms-3">Club: @i.Name - @i.Country</span> 
                    <a class="btn btn-outline-danger btn-sm ms-auto" asp-action="Remove" 
                       asp-route-id="@i.Id"
                        asp-route-returnUrl="@Context.Request.Path"
                       >X</a>
                </li>
            }
        </ul>
        
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Go to Home</a>
    </div>
    <div class="card-footer text-muted">
        Count: @Model.Count
    </div>
</div>